@charset "UTF-8";

body{
background-color: rgba(202, 177, 159, 0.785);
    font-family: Arial, Helvetica, sans-serif;

}
h1{
color: brown;
}
h1#principal{

    text-align: center;
    background-color: burlywood;
    color: rgb(8, 40, 42);
}
h2{
color: #12054b;
}
.basico{
    color: aliceblue;
}
.intermediario{
    color: black;
}
.avancado{
color: rgb(22, 41, 2);
}
.destaque{
    background-color: rgba(39, 39, 110, 0.177);
}
p{

}